{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

		<div class="{{ particle.class|e }}">

			{% if particle.label %}
		   <h1 class="padBottom killMargin">{{ particle.label }}
          {% if particle.title %}
            <strong> {{ particle.title }}</strong>
          {% endif %}
        </h1>
        {% elseif not particle.label or particle.title %}
        <h1><strong> {{ particle.title }}</strong></h1>
      {% endif %}

				<a href="{{ particle.link|default('_self')|e }}" class="scroll btn btn-trans btn-border-w btn-large"> {{ particle.linktxt|raw }}</a>&nbsp;&nbsp;
				<a href="{{ url(particle.location) }}" class="scroll btn btn-trans btn-border-w btn-large"><i class="{{ particle.icon }}"></i> {{ particle.linktxt2|raw }}</a>

		</div>

{% endblock %}
