{% extends '@nucleus/partials/particle.html.twig' %}
{% block particle %}

    <!-- Start portfolio-items -->
    <div id="portfolio-items" class="portfolio-items item_fade_in {{ particle.class|e }}">
        <div class="g-grid">
            {% for item in particle.items %}
                <div class="g-block size-33-3">
                    <article class="black stamp ">
                        <img src="{{ url(item.image)|e }}" class="attachment-380x380 wp-post-image" alt=""/>
                        <div class="overlay">
                            <div class="controls">
                              {% if item.link %}
                                <a href="{{ item.link }}" class="icon-round-border">
                                    <i class="fa fa-link"></i>
                                </a>
                                {% endif %}
                                <a href="{{ url(item.image)|e }}" class="icon-round-border icon-view">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="item-info">
                                    <h3>{{ item.title|e }}</h3>
                                    <span>{{ item.label|e }}</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End portfolio-items -->
{% endblock %}
