{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {% set image = url(particle.image) %}

    <h4 class="selfie-myprofile-title">My Profile</h4>

    <div class="selfie-profile-details item_bottom {{ particle.class|e }}" style="opacity: 1; bottom: 0px;">
        {% if image %}
            <img src="{{ image }}" alt="{{ particle.name }}"/>
        {% endif %}
        <h3>{{ particle.name }}</h3>
        <h4>{{ particle.title }}</h4>
        <div class="profileInfo">
            <p>{{ particle.desc }}</p>
            {% if particle.dob %}
                <h5>
                    <span>
                        <i class="fa fa-calendar"></i>Birthdate:
                    </span>{{ particle.dob }}</h5>
            {% endif %}
            {% if particle.phone %}
                <h5>
                    <span>
                        <i class="fa fa-phone"></i>Phone:
                    </span>{{ particle.phone }}</h5>
            {% endif %}
            {% if particle.email %}
                <h5>
                    <span>
                        <i class="fa fa-envelope-o"></i>Email:
                    </span>{{ particle.email }}</h5>
            {% endif %}
            {% if particle.address %}
                <h5>
                    <span>
                        <i class="fa fa-home"></i>Adress:
                    </span>{{ particle.address }}</h5>
            {% endif %}
            {% if particle.web %}
                <h5>
                    <span>
                        <i class="fa fa-globe"></i>Web:
                    </span>
                    {{ particle.web }}</h5>
            {% endif %}
        </div>
        <div class="clear"></div>
        {% if particle.social %}
        <div class="g-social" style="margin-top: 10px">
            {% for item in particle.social %}
                <a target="{{ particle.target|default('_blank')|e }}" href="{{ item.link|e }}" title="{{ item.text|e }}">
                    <span class="{{ item.icon|e }}"></span>
                    <span class="g-social-text">{{ item.text|e }}</span>
                </a>
            {% endfor %}
          </div>
        {% endif %}
    </div>
{% endblock %}
