{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <!-- Section Title -->
		<p class="selfie-submaintitle">{{ particle.label }}</p>
		<div class="section-title {{ particle.class|e }}">
      {% if particle.icon %}
          <i class="{{ particle.icon }}"></i>
      {% endif %}
      {% if particle.title %}
		   		<h1>{{ particle.title }}</h1>
      {% endif %}
			{% if particle.desc %}
					<p class="selfie-subtitle-text">{{ particle.desc|e('html') }}</p>
			{% endif %}
		</div>

{% endblock %}
