{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <div class="skills {{ particle.class|e }}">
        {% if particle.stats %}
                <!-- some number facts -->
                <div class="counter-wrapper">
                {% for item in particle.stats %}
                        <div class="counters-item">
                            <div class="counters-item-number">
                                {% if item.icon %}
                                    <i class="{{ item.icon }}"></i>
                                {% endif %}
                                {% if item.value %}
                                    <strong data-to="{{ item.value|e }}">0</strong>
                                {% endif %}
                                <div class="counters-item-text">
                                    {% if item.label %}
                                        <p>{{ item.label|e }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                {% endfor %}
                <div class="clear"></div>
              </div>
                <!-- ./some number facts -->
        {% endif %}


            <!-- Skill Section -->
            <div class="skillBar-container">
                <ul class="skillBar">
                    {% for skill in particle.skills %}
                        <li>
                          <strong>{{ skill.title }} {{ skill.percent }}%</strong>
                            <div class="skillBg">
                                <span data-width="{{ skill.percent }}"></span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- skills end -->

    </div>

{% endblock %}
